// .Priority {}

@media (max-width: 600px) {
  .Priority {
    .p-10 {
      padding: 5%;
    }
    .flex {
      display: block;

      p {
        br {
          display: none;
        }
      }
    }
  }
}